<% layout("layouts/boilerplate")%>

    <div class="container">
        <h1 class="text-center">ERROR</h1>

        <p>Oh no! The query that you are trying to submit caused an error. Please see below for more information.
        </p>

        <p class="text-muted">Full Error Message: <%= error%>
        </p>
    </div>